body {
	vertical-align: top;
       width: 825px;
       margin:0px auto;
	background-color:#888888;
	background-position: center;
	background-attachment: fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     	background-size: cover;
   	text-align: left;
   	border-top: 10px solid #075a97;
	border:2px;
	font-family: 'PT Serif', serif;
}

p {
font-family: 'PT Serif', serif;
}

ul li {
font-family: 'PT Serif', serif;
}

table#page{
    margin-top:25px;
	background-color:white;
	width: 800px;
	padding-left: 20px;
	padding-right: 20px;
	border: 1;
	border-color: #888888; 
font-family: 'PT Serif', serif;
}

tbody{
	vertical-align: top;
font-family: 'PT Serif', serif;
}

td#rightPane{
width: 200px;
}

td#content{
	width: 625px;
	height: 800px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:7px;
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
font-family: 'PT Serif', serif;
}

td#leftPane{
width: 200px;
}

td#footer{
background-color: #999999;
text-align: right;
padding-right: 250px;
border-radius:0px;
}

td#ionic{
background-color: gold;
text-align: right;
padding-right: 25px;
border-radius:0px;
}

td#electronic{
background-color: #ADD8E6;
text-align: right;
padding-right: 25px;
border-radius:0px;
}

#content {
   width: 625px;
   margin: 0 auto;
   padding: 40px 0;
   background-color: white;
 }
ul#nav {
	position: absolute;
	top: 20px;
	list-style: none;
	margin: 0;
	padding: 0; }
ul#nav_vright {
	position: absolute;
	top: 10px;
	right: 0;
	list-style: none;
	margin: 0;
	padding: 0; }
ul#nav li {
	float: left; }
ul#nav li a {
	display: inline;
	float: left;
	padding: 8px 5px 3px 5px;
	margin-right: 5px;
	background-color: #034a7f;
	color: #fff;
	font-weight: bold;
font-size: large;
	text-decoration: none; }
ul#nav li a:hover {
	padding-top: 12px;
	background-color: #075a97; 
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor
{
padding: 0.5em 0.5em;
}