.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
	width: 100%;
	float: left;
}

article {
    text-align: left;
    border: 3px solid gray;
    padding: 10px;
}

header {
	float: left;
    background: gray;
    color:white;
	font-size: 40px;
	font-weight:bold;
    }
footer {
    background: #aaa;
    color:white;
    }
nav {
	width: 100%;
    border: 1px solid gray;
    float: left;
    margin: 0;
    padding: 1em;
    background:#eee;
    }

nav ul {
	display: inline-block;
	list-style: none;
	position: relative;
    overflow: hidden;
	padding-top: 20px;
	padding-left: 19px;
	padding-right: 19px;
}
nav ul a {
    text-decoration: none;
    }
    
nav li {
  display:inline;
	padding-left: 18px;
	padding-right: 18px;
  font-weight:bold;
  color: blue;
  }
nav li a {
  display:inline;
  text-align: center;
  padding: 0px;
  text-decoration: none;
  color: blue;
}

nav li a:hover {
  color: #111111;
}

p#datadump{
	width: 650px;
}

div.editEntry{
	width: 650px;
}

td#ionic{
background-color: gold;
text-align: right;
padding-right: 25px;
border-radius:0px;
}

td#electronic{
background-color: #ADD8E6;
text-align: right;
padding-right: 25px;
border-radius:0px;
}

@media all and (min-width: 768px) {
    nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}
}

#loginDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: orange;
    margin-top:20px;
    display: none;
}

#pre-line{
    width: 100%;
    padding-bottom: 5px;
    text-align: center;
    background-color: orange;
}

#credentialArea{
    width: 100%;
    padding: 2px;
    text-align: center;
}

#button{
    width: 120px;
    min-width: 70px;
    padding: 5px 10px;
    text-align: center;
    float: right;
    background-color: orange;
    border-bottom: 3px solid;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}

#credentialArea{
    display: block;
    }
.link{
    text-decoration: underline;
    color: blue;
    }
    
#status{
    display: none;
}